.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: h;
  background-color: greenyellow;
  padding: 5px;
}
  .header img {
    width: 40px;
    height: auto;
  }

.nav {
  grid-area: n;
  background-color: indianred;
}

.content {
  grid-area: c;
}

.back-image {
  object-fit: cover;
  width: 990px;
  height: 200px;
  margin-bottom: 10px;
}

.person {
  display: grid;
  grid-template-areas: 
  "avatar name"
  "avatar data";
  grid-template-rows: 30px 1fr;
  grid-template-columns: 2fr 10fr;
  margin-bottom: 10px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.avatar {
  width: 150px;
  grid-area: avatar;
}
.name {
  grid-area: name;
}
  .name p {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
  }
.person-data {
  grid-area: data;
}
  .person-data p {
    margin: 0;
  }

.posts {
  margin: 0 20px;
}
  .posts p {
    font-size: 20px;
  }

.add-news textarea {
  width: 100%;
  background-color: #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}